﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:darkseagreen;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-rounded" src="https://inxy.hosting/assets/blog/images/118-aaeaaqa.jpg" height="50" width="90" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create Blog", "Create", "Blog")</li>
                    <li>@Html.ActionLink("C#", "Index", "Category", new { categoryName = "C#" }, null)</li>
                    <li>@Html.ActionLink("Mvc.Net", "Index", "Category", new { categoryName = "MvcDotNet" }, null)</li>
                    <li>@Html.ActionLink("CSS", "Index", "Category", new { categoryName = "CSS" }, null)</li>
                    <li>@Html.ActionLink("Javascript", "Index", "Category", new { categoryName = "Javascript" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
