﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p class="text-success">@TempData["Message"]</p>
<p class="text-danger">@TempData["Error"]</p>

<p>Use this area to provide additional information.</p>
