﻿@using System.Web.Mvc.Html;
@using EnterpriseAssignment.DataModel

@model List<Blog>

@{
        string category = (string)ViewData["category"];
        if (category == "MvcDotNet")
        {
            category = "Mvc.Net";
        }

        List<Blog> categoryBlogs = new List<Blog>();

        foreach (Blog b in Model)
        {
            if (b.Category.CategoryName == category)
            {
                categoryBlogs.Add(b);
            }
        }
}

<div class="container col-md-6 panel panel-warning">
    <div class="row">
        <div class="col-md-12 panel panel-heading">
            <h4>
            Recent
                @Html.ActionLink(category, "Index", "Category", new { categoryName = (string)ViewData["category"] }, null)
            blogs
            </h4>
         </div>
    </div>
    <div class="col-md-6 panel panel-body">
        @if (categoryBlogs.Count > 0)
        {
            Blog left = categoryBlogs[0];
            <img src="@left.Image" width="55%" height="55%" />
            <p><b>Title:</b> @left.Heading</p>
            <p><b>Tags:</b> @left.Tags</p>
            if (left.Content.Length >= 30)
            {
                <p><b>Content:</b>@left.Content.Substring(0, 30) ...</p>
            }
            else
            {
                <p><b>Content:</b> @left.Content</p>
            }
            <a href="~/Blog/BlogDetails?id=@left.BlogId">Read More</a>
        }
</div>

    <div class="col-md-6">
        @for (int i = 1; i < categoryBlogs.Count && i < 5; i++)
        {
            <div class="row panel">
                @if (categoryBlogs[i] != null)
                {
                    Blog right = categoryBlogs[i];
                    <a href="~/Blog/BlogDetails?id=@right.BlogId">@right.Heading</a>
                }
            </div>
        }
    </div>
</div>