﻿@using EnterpriseAssignment.DataModel
@model List<Blog>

@{
    ViewBag.Title = "Home Page";
}


<head>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <h2 class="text-success">@TempData["Message"]</h2>
            <h2 class="text-danger">@TempData["Error"]</h2>
        </div>
    </div>
</head>
<body>
    @if (Model.Count > 0)
     {
        <div class="row">        
            <div id="myCarousel" class="carousel slide col-md-8 col-md-offset-2" data-ride="carousel" style="height:500px;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < 5 && i < Model.Count; i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < 5 && i < Model.Count; i++)
                    {
                        Blog b = Model[i];

                        if (i == 0)
                        {
                            <div class="item active" style="max-height:500px;">
                                <a href="~/Blog/BlogDetails?id=@b.BlogId">
                                    <img src="@b.Image" alt="@b.Heading" style="max-height:500px; width:100%;" />
                                    <div class="carousel-caption">
                                        <h3>@b.Heading</h3>
                                    </div>
                                </a>
                            </div>
                        }

                        else
                        {
                            <div class="item" style="max-height:500px;">
                                <a href="~/Blog/BlogDetails?id=@b.BlogId">
                                    <img src="@b.Image" alt="@b.Heading" style="max-height:500px; width:100%;" />
                                    <div class="carousel-caption">
                                        <h3>@b.Heading</h3>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>  
     }

    <div class="row" style="padding-top: 30px;">
        @Html.Partial("Box", Model, new ViewDataDictionary(this.ViewData) { { "category", "C#" } })
        @Html.Partial("Box", Model, new ViewDataDictionary(this.ViewData) { { "category", "MvcDotNet" } })
    </div>
    <br>
    <div class="row">
        @Html.Partial("Box", Model, new ViewDataDictionary(this.ViewData) { { "category", "Javascript" } })
        @Html.Partial("Box", Model, new ViewDataDictionary(this.ViewData) { { "category", "CSS" } })
    </div>
</body>