﻿@using EnterpriseAssignment.DataModel
@model List<Blog>

@{
    ViewBag.Title = "View";
}

<div class="container panel panel-warning">

    @for (int i = 0; i < 5 && i < Model.Count; i++)
    {
        <div class="row">
            <div class="panel panel-body">
                <h3><a href="~/Blog/BlogDetails?id=@Model[i].BlogId">@Model[i].Heading</a></h3>
                <img src="@Model[i].Image" width="100%" height="100%" />
                <p>Created By: @Html.ActionLink(Model[i].AspNetUser.UserName, "Index", "Author", new { username = Model[i].AspNetUser.UserName }, null)</p>
            </div>
        </div>
    }
</div>