﻿@using EnterpriseAssignment.DataModel
@model List<Blog>

<h2 class="text-success">@TempData["Message"]</p>
<h2 class="text-danger">@TempData["Error"]</h2>

<h2>List of @ViewData["categoryName"] blogs</h2>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("BlogList", Model)
    </div>
</div>