﻿@model EnterpriseAssignment.DataModel.Blog

<p class="text-success">@TempData["Message"]</p>
<p class="text-danger">@TempData["Error"]</p>

<div class="row">
    <div class="container panel panel-warning col-md-10 col-md-offset-1">
        <div class="row">
            <div class="panel panel-heading">
                <h3>@Model.Heading</h3>
            </div>
            <div class="panel panel-body">
                @{ ViewData["category"] = Model.Category.CategoryName;}
                <p>Category: @Html.ActionLink(Model.Category.CategoryName, "Index", "Category", new { categoryName = (string)ViewData["category"] }, null)</p>
                <p>Created By: @Html.ActionLink(Model.AspNetUser.UserName, "Index", "Author", new { username = Model.AspNetUser.UserName} , null)</p>
                <img src="@Model.Image" width="100%" height="100%" />
                <p>Content: @Model.Content</p>
                <p>Tags: @Model.Tags</p>
            </div>
            @if (Model.AspNetUser.UserName == User.Identity.Name)
            {
                <div class="panel panel-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.BlogId }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
</div>