﻿@using Microsoft.AspNet.Identity;
@model EnterpriseAssignment.DataModel.AspNetUser

<div class="container panel panel-warning">
    <div class="panel-heading">
        <h4>Profile</h4>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile)
            </dd>

            <dd>
                @if (User.Identity.GetUserName() == Model.UserName)
                {
                    @Html.ActionLink("Edit", "Edit", "Account", null, htmlAttributes: new { @class = "btn btn-warning" })
                    
                    @Html.ActionLink("Delete", "Delete", "Account", null , htmlAttributes: new { @class = "btn btn-danger" })
                }
            </dd>
        </dl>
    </div>
</div>
