﻿@using EnterpriseAssignment.Models
@model AuthorAndBlogListModel

<p class="text-success">@TempData["Message"]</p>
<p class="text-danger">@TempData["Error"]</p>

<h2>List of blogs by: @ViewData["username"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (Model.Blogs.Count <= 0)
            {
                <div class="panel panel-heading">
                    <h3>This user has no posts yet!</h3>
                </div>
            }

            else
            {
                @Html.Partial("../Category/BlogList", Model.Blogs)
            }
        </div>
        <div class="col-md-6">
            @Html.Partial("AuthorDetails", Model.User)
        </div>
    </div>
</div>